@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1e3a8a;
  }
  
  input:focus {
    outline: none;
    border-color: #2563eb;
  }
  
  